<launch>
    <node pkg="line_laser_ros" type="n301n_serial_publisher" name="line_laser" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud_rate" value="115200"/>
    <param name="frame_id" value="base_laser_link"/>
    <param name="version_num" value="2"/>
    </node>
    <!--  </node>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output='screen'>
    <rosparam command="load" file="$(find line_laser_ros)/my_laser_config.yaml" />
    </node>
    -->
    <node pkg="line_laser_ros" type="move" name="move" output="screen"/>
    <node pkg="line_laser_ros" type="prc_pub" name="prc_pub" output="screen"/>
    <node pkg="line_laser_ros" type="laserfilter" name="laserfilter" output="screen"/>

</launch> 